html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.o-page__container
						.o-page__sidebar
							//- .c-filters-panel
							//- 	.c-filters-panel__background.js-filters-panel-bg
							//- 		.c-filters-panel__tip.js-filters-panel-tip
							//- 			img(src="/bitrix/templates/sanbest_2019/img/icons/swipe-left.svg" alt="" class="c-filters-panel__icon")
							//- 			span Закрыть
							//- 	.c-tip.c-tip_left.c-tip_filter.js-tip-filter Найдено товаров: 
							//- 		span.mr-2 5
							//- 		a(href="#").js-show-filtered-products Показать
							//- 	.c-filters.mb-5.js-filters.js-filters-catalog
							//- 		input(type="hidden" name="section_id" value="143")#section_code
							//- 		.c-filter.c-filter_choosed-filters.js-filter
							//- 			.c-filter__header
							//- 				.c-filter__title Вы выбрали
							//- 			.c-filter__body
							//- 				.c-choosed-tag BURLINGTON
							//- 					.c-choosed-tag__close.js-choosed-tag-close
							//- 				.c-choosed-tag cezared
							//- 					.c-choosed-tag__close.js-choosed-tag-close
							//- 				.c-choosed-tag edelform
							//- 					.c-choosed-tag__close.js-choosed-tag-close
							//- 				.c-choosed-tag eleganza
							//- 					.c-choosed-tag__close.js-choosed-tag-close
							//- 				.c-choosed-tag Цена от 3000 до 15000
							//- 					.c-choosed-tag__close
							//- 			.c-filter__footer
							//- 				a(href="#").c-btn.c-filter__btn.js-reset-filter сбросить фильтр
							//- 		.c-filter.js-filter
							//- 			.c-filter__body
							//- 				.c-checkbox.c-checkbox_theme-yellow.js-checkbox
							//- 					input(type="checkbox" name="sizes" value="150-x-70").c-checkbox__input.js-checkbox-input
							//- 					.c-checkbox__label товары со скидкой %
							//- 		.c-filter.js-filter
							//- 			.c-filter__header
							//- 				a(href="#choosed-filters" data-toggle="collapse" aria-expanded="false").c-filter__title Бренд
							//- 			.c-filter__body.collapse#choosed-filters
							//- 				.c-checkbox.js-checkbox
							//- 					input(type="checkbox" name="brand" value="111").c-checkbox__input.js-checkbox-input
							//- 					.c-checkbox__label Grohe
							//- 				.c-checkbox.js-checkbox
							//- 					input(type="checkbox" name="brand" value="333").c-checkbox__input.js-checkbox-input
							//- 					.c-checkbox__label Grohe
							//- 				.c-checkbox.js-checkbox
							//- 					input(type="checkbox" name="brand" value="24443132").c-checkbox__input.js-checkbox-input
							//- 					.c-checkbox__label Grohe
							//- 				.c-checkbox.js-checkbox
							//- 					input(type="checkbox" name="brand" value="555").c-checkbox__input.js-checkbox-input
							//- 					.c-checkbox__label Grohe
							//- 		.c-filter.js-filter
							//- 			.c-filter__header
							//- 				.c-filter__title Цена
							//- 			.c-filter__body
							//- 				.d-flex.align-items-center.justify-content-between
							//- 					.c-price-field.js-price-field
							//- 						.c-price-field__inner
							//- 							span.c-price-field__prefix от
							//- 							input( value="4000" name="arFilter[FILTER][MINMAX][length]" data-begin="4000").c-price-field__input.js-price-field-input
							//- 							span.c-price-field__postfix a
							//- 					span.ml-1.mr-1 -
							//- 					.c-price-field
							//- 						.c-price-field__inner
							//- 							span.c-price-field__prefix до
							//- 							input( value="150000" name="arFilter[FILTER][MINMAX][length_to]" data-begin="150000").c-price-field__input.js-price-field-input
							//- 							span.c-price-field__postfix a
							//- 		.c-filter.c-filter_sizes.js-filter
							//- 			.c-filter__header
							//- 				a(href="#filter-sizes" data-toggle="collapse" aria-expanded="false").c-filter__title По размеру
							//- 			.c-filter__body.collapse#filter-sizes
							//- 				.c-filter__body-inner.collapse#more-filter-sizes.mb-2
							//- 					.d-flex.flex-wrap.mb-3
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 70 x 70
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 70 x 70
							//- 					.d-flex.flex-wrap.mb-3
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 80 x 80
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 80 x 80
							//- 					.d-flex.flex-wrap.mb-3
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 90 x 90
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 90 x 90
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 90 x 90
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 90 x 90
							//- 					.d-flex.flex-wrap.mb-3
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 100 x 100
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 100 x 100
							//- 						.c-tag-checkbox
							//- 							input(type="checkbox").c-tag-checkbox__input
							//- 							.c-tag-checkbox__label 100 x 100
							//- 				a(href="#more-filter-sizes" data-toggle="collapse" aria-expanded="false") показать еще
							//- 		.c-filter.js-filter
							//- 			.c-filter__header
							//- 				.c-filter__title По размеру
							//- 			.c-filter__body
							//- 				.d-block.mb-3
							//- 					span.d-block.mb-1 Длина, см
							//- 					.d-flex.align-items-center.justify-content-between
							//- 						.c-price-field
							//- 							.c-price-field__inner
							//- 								span.c-price-field__prefix от
							//- 								span(contenteditable="true" maxlength="3").c-price-field__input.js-price-field 120
							//- 						span.ml-1.mr-1 -
							//- 						.c-price-field
							//- 							.c-price-field__inner
							//- 								span.c-price-field__prefix от
							//- 								span(contenteditable="true" maxlength="3").c-price-field__input.js-price-field 180
							//- 				.d-block.mb-3
							//- 					span.d-block.mb-1 Ширина, см
							//- 					.d-flex.align-items-center.justify-content-between
							//- 						.c-price-field
							//- 							.c-price-field__inner
							//- 								span.c-price-field__prefix от
							//- 								span(contenteditable="true" maxlength="3").c-price-field__input.js-price-field 120
							//- 						span.ml-1.mr-1 -
							//- 						.c-price-field
							//- 							.c-price-field__inner
							//- 								span.c-price-field__prefix от
							//- 								span(contenteditable="true" maxlength="3").c-price-field__input.js-price-field 180
							//- 		.c-filter.js-filter
							//- 			.c-filter__header
							//- 				a(href="#filter-shape" data-toggle="collapse" aria-expanded="false").c-filter__title По форме
							//- 			.c-filter__body.collapse.c-filter__body_scrolled#filter-shape
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 				.c-checkbox.mb-1.js-checkbox
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Прямоугольные
							//- 		.c-filter.js-filter
							//- 			.c-filter__header
							//- 				a(href="#filter-material" data-toggle="collapse" aria-expanded="false").c-filter__title Материал
							//- 			.c-filter__body.collapse.c-filter__body_scrolled#filter-material
							//- 				.c-checkbox.mb-1
							//- 					input(type="checkbox").c-checkbox__input
							//- 					.c-checkbox__label Акрил
							//- .c-watch-earlier-widget
							//- 	h3.c-watch-earlier-widget__title Вы смотрели ранее:
							//- 	.c-watch-earlier-widget__body
							//- 		.c-watch-earlier-widget__item
							//- 			.c-watch-earlier-widget__img
							//- 				img(src=require("../img/content/option.jpg"), alt="")
							//- 			.c-watch-earlier-widget__info
							//- 				a(href="#") кран верхний Aquanet Palma хром
							//- 				.c-watch-earlier-widget__price 180 000

							//- 		.c-watch-earlier-widget__item
							//- 			.c-watch-earlier-widget__img
							//- 				img(src=require("../img/content/option6.jpg"), alt="")
							//- 			.c-watch-earlier-widget__info
							//- 				a(href="#") кран верхний Aquanet Palma хром
							//- 				.c-watch-earlier-widget__price 180 000
							//- 		.c-watch-earlier-widget__item
							//- 			.c-watch-earlier-widget__img
							//- 				img(src=require("../img/content/option7.jpg"), alt="")
							//- 			.c-watch-earlier-widget__info
							//- 				a(href="#") кран верхний Aquanet Palma хром
							//- 				.c-watch-earlier-widget__price 180 000
							//- 		.c-watch-earlier-widget__item
							//- 			.c-watch-earlier-widget__img
							//- 				img(src=require("../img/content/option8.jpg"), alt="")
							//- 			.c-watch-earlier-widget__info
							//- 				a(href="#") кран верхний Aquanet Palma хром
							//- 				.c-watch-earlier-widget__price 180 000
							//- 		.c-watch-earlier-widget__item
							//- 			.c-watch-earlier-widget__img
							//- 				img(src=require("../img/content/option9.jpg"), alt="")
							//- 			.c-watch-earlier-widget__info
							//- 				a(href="#") кран верхний Aquanet Palma хром
							//- 				.c-watch-earlier-widget__price 180 000
							//- 		.c-watch-earlier-widget__item
							//- 			.c-watch-earlier-widget__img
							//- 				img(src=require("../img/content/option3.jpg"), alt="")
							//- 			.c-watch-earlier-widget__info
							//- 				a(href="#") кран верхний Aquanet Palma хром
							//- 				.c-watch-earlier-widget__price 180 000
							//- 	a(href="#").c-watch-earlier-widget__link смотреть все

										

						.o-page__body
							.c-share.mb-3.d-lg-none
								img(src=require("../img/content/installment.jpg"), alt="").w-100
							.c-breadcrumbs
								.c-breadcrumbs__list
									a(href="#!").c-breadcrumbs__item Главная
									a(href="#!").c-breadcrumbs__item Смесители
									a(href="breadcrumb-dropdown-1", data-toggle="dropdown", aria-expanded="false").c-breadcrumbs__item.c-breadcrumbs__item_dropdown.js-breadcrumb-dropdown.dropdown-toggle Душевые ограждения
									a(href="#!").c-breadcrumbs__item Душевые углы
								.c-breadcrumbs__dropdown
									.dropdown-menu.c-breadcrumbs__dropdown-menu(aria-labelledby="dropdown")#breadcrumb-dropdown-1
										li
											a(href="#") Форсунки для душа
										li
											a(href="#") Девиаторы
										li
											a(href="#") Наборы
										li
											a(href="#") Смесители для душа
							.c-filter-detail.c-filter-detail_graphic.mb-5
								.c-filter-detail__footer
										-
											var deepFilter = [
												{
													title: '',
													list: ['Абажур для светильника', 'Банкетки, пуфы, стулья', 'Вазы, кувшины', 'Канделябр']
												},
												{
													title: '',
													list: ['Ведра для мусора', 'Ведра для шампанского', 'Вентиляторы']
												},
												{
													title: '',
													list: ['Держатели для зубных щеток', 'Держатели для накладок', 'Держатели для освежителя', 'Держатели для фена']
												},
												{
													title: '',
													list: ['Диспенсеры']
												}
											]
										.row
											each deepItem in deepFilter
												each deepItemList in deepItem.list
													div.d-flex.flex-column.mb-4.col-md-2.align-items-center
														img(src=require("../img/icons/subcategory.svg"), alt="").c-filter-detail__icon.mb-2
														a(href="#").c-filter-detail__link=deepItemList
										-;			
							<h1 class="o-page__title">Аксессуары для ванной</h1>
							.c-filtered-products
								.c-filtered-products__header.d-block.d-xl-flex.justify-content-between.mb-5
									.c-sort.d-none.d-xl-flex
										.c-sort__txt сортировка:
										select.c-sort__select.js-sort-select
											option Цена по возрастанию 
											option Цена по возрастанию
									.row
										.col-6
											button.c-filters-button.d-xl-none.js-filters-button фильтр
										.col-6
											.c-sort-button.dropdown.c-dropdown.d-xl-none.js-sort-button
												.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
													span.c-sort-button__title Сортировка
													span.c-sort-button__choosed-sort По названию
												.dropdown-menu.c-dropdown__menu
													ul
														li.c-sort-button__item.c-sort-button__item_down.js-sort-button-item По названию
															input(type="radio" name="sort-button" value="name").c-sort-button__input.js-sort-button-input
														li.c-sort-button__item.c-sort-button__item_up.js-sort-button-item По цене
															input(type="radio" name="sort-button" value="price").c-sort-button__input.js-sort-button-input

									.c-posts-showed.d-none.d-xl-flex.js-posts-showed
										.c-posts-showed__title Показать:
										form.c-posts-showed__body
											.c-posts-showed__count.is-active 24
												input(type="radio" name="posts-showed" value="24" checked).c-posts-showed__count-input.js-posts-showed-input
											.c-posts-showed__count 48
												input(type="radio" name="posts-showed" value="48").c-posts-showed__count-input.js-posts-showed-input
									.c-pagination.d-none.d-xl-flex
										a(href="#").c-pagination__nav.c-pagination__nav_left
										.c-pagination__pages
											a(href="#").c-pagination__page 1
											a(href="#").c-pagination__page.is-active 2
											a(href="#").c-pagination__page 3
											a(href="#").c-pagination__page 4
										a(href="#").c-pagination__nav.c-pagination__nav_right
								.c-filtered-products__body
									.row
										.col-sm-6.col-lg-4
											.c-filtered-product.is-active
												a(href="#").c-filtered-product__image
													img(src=require("../img/content/filtered-product.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия

										.col-sm-6.col-lg-4
											.c-filtered-product.is-active
												a(href="#").c-filtered-product__image
													img(src=require("../img/content/filtered-product.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
										.col-sm-6.col-lg-4
											.c-filtered-product.is-active
												a(href="#").c-filtered-product__image
													img(src=require("../img/content/filtered-product.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
										.col-12.c-share.mb-5.d-none.d-lg-block
											img(src=require("../img/content/installment.jpg"), alt="").w-100
										.col-sm-6.col-lg-4
											.c-filtered-product.is-active
												a(href="#").c-filtered-product__image
													img(src=require("../img/content/filtered-product.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
										
										.col-sm-6.col-lg-4
											.c-filtered-product.is-active
												a(href="#").c-filtered-product__image
													img(src=require("../img/content/filtered-product.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__showroom.c-showroom.js-showroom Модель бренда есть в шоуруме
													.c-showroom__menu
														a(href="#").c-showroom__close
														a(href="#").c-showroom__title Мебель для ванной belgano
														.c-showroom__text
															h5 Можно посмотреть
															p
																.
																	Ассиметричная ванна Венеция подобна современному искусству в сочетании геометрических форм. 
															a(href="#").mb-2 Схема проезда
														a(href="#") Адреса всех шоурумов
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
										.col-sm-6.col-lg-4
											.c-filtered-product.is-active
												a(href="#").c-filtered-product__image
													img(src=require("../img/content/filtered-product.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
													.c-filtered-product__sale 15%
													.c-filtered-product__delivery доставка 0
												.c-filtered-product__showroom.c-showroom.js-showroom Модель бренда есть в шоуруме
													.c-showroom__menu
														a(href="#").c-showroom__close
														a(href="#").c-showroom__title Мебель для ванной belgano
														.c-showroom__text
															h5 Можно посмотреть
															p
																.
																	Ассиметричная ванна Венеция подобна современному искусству в сочетании геометрических форм. 
															a(href="#").mb-2 Схема проезда
														a(href="#") Адреса всех шоурумов
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.d-inline.d-lg-none.ml-2 черный, серый
															.d-none.d-lg-block.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
												.c-filtered-product__footer
													a(href="#").c-filtered-product__action
														img(src=require("../img/icons/vesi.png"), alt="")
														| К сравнению
													a(href="#").c-filtered-product__action
														img(src=require("../img/icons/fav.png"), alt="")
														| В закладки
									a(href="#").c-filtered-products__load-more.c-load-more
										span.c-filtered-products__load-more-txt.c-load-more__txt показать еще 18
										.c-load-more__preloader
											.c-load-more__preloader-square
											.c-load-more__preloader-square
											.c-load-more__preloader-square
											.c-load-more__preloader-square
								.c-filtered-products__footer.d-flex.justify-content-center.justify-content-lg-between.align-items-center
									.c-posts-showed.d-none.d-lg-flex
										.c-posts-showed__title Показать:
										form.c-posts-showed__body
											.c-posts-showed__count.is-active 24
												input(type="radio" name="posts-showed" value="24" checked).c-posts-showed__count-input
											.c-posts-showed__count 48
												input(type="radio" name="posts-showed" value="48").c-posts-showed__count-input
									.c-pagination
										a(href="#").c-pagination__nav.c-pagination__nav_left
										.c-pagination__pages
											a(href="#").c-pagination__page 1
											a(href="#").c-pagination__page.is-active 2
											a(href="#").c-pagination__page 3
											a(href="#").c-pagination__page 4
										a(href="#").c-pagination__nav.c-pagination__nav_right
							.c-product-description.c-product-description_catalog
								.c-product-description__title Мебель для ванных комнат — мы знаем, как купить проще
								.c-product-description__body.c-read-more.js-read-more-container
									p
										.
											Как лучше купить мебель для ванной комнаты? Иногда ее специально заказывают под конкретные параметры и дизайнерские предпочтения, но чаще всего люди просто едут в мебельные магазины, на посещение которых тратится не один день. Мы предлагаем вам более удобный вариант. Santehnika Online — это интернет-магазин, в котором можно купить мебель для ванной комнаты быстро и не выходя из дома.
									p
										.
											В нашем магазине есть вся необходимая мебель для ванны — от раковины с тумбой до многофункциональных гарнитуров. Широкий ассортимент позволит вам купить, например, идеальный шкаф для ванной комнаты или красивое зеркало с подсветкой. Кроме самостоятельных единиц у нас представлены готовые комплекты, выполненные в едином гармоничном стиле. Такие наборы мебели включают зеркало, пенал, мойдодыр для ванной комнаты и могут быть дополнены теми или иными предметами интерьера.
									p
										.
											У нас вы можете легко купить красивую и эргономичную мебель в ванную комнату. Мы собрали в одном месте предложения лучших производителей специально для тех людей, которые ценят свое время и привыкли выбирать мобильность и рациональные решения. Покупка мебели для ванной комнаты — ответственный процесс. Мы предлагаем вам сосредоточиться на ее выборе, а все остальные заботы наша компания возьмет на себя. Мы ориентируемся на удобство наших клиентов и избегаем сложных схем взаимодействия.

									p
										.
											Для вас — прозрачная навигация по каталогу, простая система оплаты-доставки и оперативная реакция наших менеджеров. Чтобы получить дополнительную информацию о продукции или подробную консультацию по доставке, позвоните нам или оставьте заявку            на сайте —   мы с вами свяжемся в течение одного часа.
								.d-flex.justify-content-center.mb-3
									a(href="#").js-read-more-btn Развернуть
							.d-flex.justify-content-center.d-lg-none.c-call
								a(href="#" data-toggle="modal" data-target="#call-modal")
									img(src=require("../img/icons/call-btn.png"), alt="")
				include templates/footer.pug
