html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.o-page__container
						.o-page__sidebar
							.c-catalog-menu.d-none.d-md-block
								include templates/catalog-menu.pug
						.o-page__body
							.c-breadcrumbs
								a(href="#!").c-breadcrumbs__item Главная
								a(href="#!").c-breadcrumbs__item Смесители
								.c-breadcrumbs__item.c-breadcrumbs__item_dropdown-wrap
									a(href="#", data-toggle="dropdown", aria-expanded="false").c-breadcrumbs__item_dropdown.dropdown-toggle Душевые ограждения
									.dropdown-menu.c-breadcrumbs__dropdown-menu
										li
											a(href="#") Форсунки для душа
										li
											a(href="#") Девиаторы
										li
											a(href="#") Наборы
										li
											a(href="#") Смесители для душа
								a(href="#!").c-breadcrumbs__item Душевые углы
							.c-choose-by-property
								ul.nav.nav-tabs
									li.nav-item
										a(href="#popular-property-content" data-toggle="tab").nav-link.active#popular-property-tab популярное
									li.nav-item
										a(href="#size-property-content" data-toggle="tab").nav-link#size-property-tab Размер
									li.nav-item
										a(href="#size-property-content" data-toggle="tab").nav-link#size-property-tab Форма
									li.nav-item
										a(href="#size-property-content" data-toggle="tab").nav-link#size-property-tab Страна
									li.nav-item
										a(href="#size-property-content" data-toggle="tab").nav-link#size-property-tab Бренд
									li.nav-item
										a(href="#size-property-content" data-toggle="tab").nav-link#size-property-tab Тип дверей
									li.nav-item
										a(href="#size-property-content" data-toggle="tab").nav-link#size-property-tab Высота поддона
									li.nav-item
										a(href="#size-property-content" data-toggle="tab").nav-link#size-property-tab Цена
								.tab-content
									.tab-pane.fade.show.active#popular-property-content
										.c-choose-by-property__list
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
									.tab-pane.fade#size-property-content
										.c-choose-by-property__list
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины 
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины 
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые  прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые  прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
											.c-choose-by-property__item
												.c-choose-by-property__image
													img(src=require("../img/content/share-content-image.jpg"), alt="")
												.c-choose-by-property__footer
													a(href="#").c-choose-by-property__link Душевые кабины прямоугольные
									a(href="#").c-btn.c-choose-by-property__more-btn показать ещё
							.c-filtered-products
								.c-filtered-products__header.d-flex.justify-content-between.mb-5
									.c-sort
										.c-sort__txt сортировка:
										select.c-sort__select
											option Цена по возрастанию
											option Цена по возрастанию
									.c-posts-showed.d-none.d-md-flex
										.c-posts-showed__title Показать:
										form.c-posts-showed__body
											.c-posts-showed__count.is-active 24
												input(type="radio" name="posts-showed" value="24" checked).c-posts-showed__count-input
											.c-posts-showed__count 48
												input(type="radio" name="posts-showed" value="48").c-posts-showed__count-input
									.c-pagination
										a(href="#").c-pagination__nav.c-pagination__nav_left
										.c-pagination__pages
											a(href="#").c-pagination__page 1
											a(href="#").c-pagination__page.is-active 2
											a(href="#").c-pagination__page 3
											a(href="#").c-pagination__page 4
										a(href="#").c-pagination__nav.c-pagination__nav_right
								.c-filtered-products__body
									.row
										.col-md-4
											.c-filtered-product
												.c-filtered-product__image
													img(src=require("../img/content/option4.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия

										.col-md-4
											.c-filtered-product
												.c-filtered-product__image
													img(src=require("../img/content/option4.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
										.col-md-4
											.c-filtered-product
												.c-filtered-product__image
													img(src=require("../img/content/option4.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
									.c-share.mb-5
										img(src=require("../img/content/installment.jpg"), alt="").w-100
									.row
										.col-md-4
											.c-filtered-product
												.c-filtered-product__image
													img(src=require("../img/content/option4.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
										.col-md-4
											.c-filtered-product
												.c-filtered-product__image
													img(src=require("../img/content/option4.jpg"), alt="")
													.c-filtered-product__label
														span.c-filtered-product__label-txt 5 вариантов модели
												.c-filtered-product__showroom.c-showroom.js-showroom Модель бренда есть в шоуруме
													.c-showroom__menu
														a(href="#").c-showroom__close
														a(href="#").c-showroom__title Мебель для ванной belgano
														.c-showroom__text
															h5 Можно посмотреть
															p
																.
																	Ассиметричная ванна Венеция подобна современному искусству в сочетании геометрических форм. 
															a(href="#").mb-2 Схема проезда
														a(href="#") Адреса всех шоурумов
												.c-filtered-product__body
													.d-block.text-center.pr-3.pl-3.mb-3
														a(href="#").c-filtered-product__link ванна акриловая riho Line ADIGE ADI -LVM25-CRM
													.d-flex.justify-content-between.mb-2
														.c-filtered-product__availability.c-filtered-product__availability_true.d-flex.align-items-center
															img(src=require("../img/icons/check-success.png"), alt="")
															span В наличии
														.c-filtered-product__price 13 400
													.c-filtered-product__code.mb-2 Код товара: 1234566JL
													.d-flex.flex-column.align-items-center
														.mb-2 Размер: 1500х700
														.d-flex.align-items-center.mb-2 Цвет профиля:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-flex.align-items-center.mb-2 Цвет стекла:
															.dropdown.c-dropdown.c-dropdown_link.c-filtered-product__dropdown
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown" data-flip="false")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li 
																			a(href="#") Серый 
																		li 
																			a(href="#") Розовый
														.d-block
															.d-inline-block Бренд:
																a(href="#").ml-1 Grohe
															.d-inline-block Страна: Германия
										
				include templates/footer.pug
