<!DOCTYPE html>
html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.c-breadcrumbs
						a(href="#!").c-breadcrumbs__item Главная
						a(href="#!").c-breadcrumbs__item Смесители
						a(href="#!").c-breadcrumbs__item смесители для раковины
					.c-product
						.c-product__header.d-flex.justify-content-between.align-items-center
							h1.c-product__title Смеситель для раковины Grohe Bauloop 23337 000
							.c-product__actionsd.d-flex.align-items-center
								a(href="#!").c-product__action
									img(src=require("../img/icons/share.svg"), alt="").c-product__action-icon
									span поделиться
								a(href="#!").c-product__action
									img(src=require("../img/icons/print.png"), alt="").c-product__action-icon
									span версия для печати
						.c-product__body
							.row
								.col-md-4
									.c-product-info
										.c-product-preview
											.c-product-preview__main
												img(src=require("../img/content/product.jpg"), alt="")
												button.c-product-preview__zoom
											.c-product-preview__thumbnails
												.swiper-container
													.swiper-wrapper
														.swiper-slide
															img(src=require("../img/content/product-thumbnail.jpg"), alt="").c-product-preview__thumbnail
														.swiper-slide
															img(src=require("../img/content/product-thumbnail2.jpg"), alt="").c-product-preview__thumbnail
														.swiper-slide
															img(src=require("../img/content/product-thumbnail3.jpg"), alt="").c-product-preview__thumbnail
														.swiper-button-prev
														.swiper-button-next
										.c-product-info__code Код товара:  B22528
										.c-product-info__showroom Модель бренда есть в шоуруме
										.c-product-info__description
											table.c-table
												tbody
													tr
														td Бренд:
														td 
															a(href="#") Vegas
													tr
														td Коллекция:
														td 
															a(href="#") ZP+ZPV
													tr
														td Страна:
														td Россия
													tr
														td Материал витража:
														td 
															a(href="#") Стекло
													tr
														td Высота поддона:
														td 
															a(href="#") Низкий
													tr
														td Стиль:
														td 
															a(href="#") Современный
													tr
														td Тип дверей:
														td 
															a(href="#") Одна раздвижная
													tr
														td Форма:
														td 
															a(href="#") Прямоугольная
													tr
														td Цвет профиля:
														td 
															.dropdown.c-dropdown
																.dropdown-toggle.c-dropdown-toggle
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu as

													tr
														td Витраж:
														td 
															.dropdown.c-dropdown
																.dropdown-toggle.c-dropdown-toggle
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu as
													tr
														td Размер(ДxШxВ), см:
														td 
															a(href="#") (108-113)x(68-73)x190
										.c-product-info__actions

											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/fav.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text поместить В закладкИ
											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/repair.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text установка от 5000
											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/vesi2.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text добавить к сравнениЮ
											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/fast.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text оформить кредит online
								.col-md-8
									.c-product__order-info
										.d-flex.align-items-center.justify-content-between.mb-3
											.c-product__choosen
												| Выбрано:
												a(href="#").c-product__choosen-count 3 товара
											.c-product__price
												| Итого:
												.c-product__price-number.c-product__price-number_old 34900
												.c-product__price-number.c-product__price-number_new 28 650
											.c-product__order-actions.d-flex
												a(href="#").c-btn.c-btn_primary В КОРЗИНУ
												a(href="#").c-btn.c-btn_primary КУПИТЬ В 1 КЛИК
										.d-flex.justify-content-between
											.c-promocode
												.c-promocode__txt
													.
														При заказе сообщите менеджеру промокод 
												.c-promocode__label CEZARES10
											.c-counter
												.c-counter__timer
													.c-progress-radial
														.c-progress-radial__left
															.c-progress-radial__bar(style="transform:rotate(180deg)")
														.c-progress-radial__right
															.c-progress-radial__bar(style="transform:rotate(180deg)")
														.c-progress-radial__value 5
														.c-progress-radial__footer дней
													.c-progress-radial
														.c-progress-radial__left
															.c-progress-radial__bar(style="transform:rotate(-135deg)")
														.c-progress-radial__right
															.c-progress-radial__bar
														.c-progress-radial__value 16
														.c-progress-radial__footer часов
													.c-progress-radial
														.c-progress-radial__left
															.c-progress-radial__bar(style="transform:rotate(-180deg)")
														.c-progress-radial__right
															.c-progress-radial__bar(style="transform:rotate(-150deg)")
														.c-progress-radial__value 59
														.c-progress-radial__footer минут
												.c-counter__txt осталось до конца акции
				include templates/footer.pug
			