html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.c-float-btn.c-float-btn_options.js-float-btn-options
						p Выберите опции к этому товару
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490.4 490.4"><g fill="#3e7ce3"><path d="M490.4 245.2C490.4 110 380.4 0 245.2 0S0 110 0 245.2s110 245.2 245.2 245.2 245.2-110 245.2-245.2zm-465.9 0c0-121.7 99-220.7 220.7-220.7s220.7 99 220.7 220.7-99 220.7-220.7 220.7-220.7-99-220.7-220.7z"/><path d="M253.9 360.4l68.9-68.9c4.8-4.8 4.8-12.5 0-17.3s-12.5-4.8-17.3 0l-48 48V138.7c0-6.8-5.5-12.3-12.3-12.3s-12.3 5.5-12.3 12.3v183.4l-48-48c-4.8-4.8-12.5-4.8-17.3 0s-4.8 12.5 0 17.3l68.9 68.9c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.1 8.7-3.5z"/></g></svg>
					.c-tip.c-tip_left.c-tip_code Сообщите код товара 1233122 менеджеру
					.c-tip.c-tip_products Вы можете выбрать дополнительные товары

					.c-breadcrumbs
						a(href="#!").c-breadcrumbs__item Главная
						a(href="#!").c-breadcrumbs__item Смесители
						a(href="#", data-toggle="dropdown", aria-expanded="false").c-breadcrumbs__item.c-breadcrumbs__item_dropdown.dropdown-toggle смесители для раковины
						.dropdown-menu.c-breadcrumbs__dropdown-menu
							a(href="#") Форсунки для душа
							a(href="#") Девиаторы
							a(href="#") Наборы
							a(href="#") Смесители для душа

					.c-product
						.c-product__header.d-flex.flex-column.flex-xl-row.justify-content-between.align-items-start.align-items-xl-center
							h1.c-product__title Смеситель для раковины Grohe Bauloop 23337 000
							.c-product__actions.d-flex.align-items-center
								a(href="#!").c-product__action
									img(src=require("../img/icons/fav.png"), alt="").c-product__action-icon
									span в закладки
								a(href="#!").c-product__action
									img(src=require("../img/icons/vesi2.png"), alt="").c-product__action-icon
									span к сравнению
								a(href="#!").c-product__action
									img(src=require("../img/icons/print.png"), alt="").c-product__action-icon
									span версия для печати
						.c-product__body
							.row
								.col-lg-6.col-xl-4
									.c-product-info
										.row
											.col-12
												.c-product-preview-mobile.d-md-none.js-product-preview-mobile
													.swiper-container
														.swiper-wrapper
															.swiper-slide
																img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
															.swiper-slide
																img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
															.swiper-slide
																img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
														.swiper-pagination
												.d-none.d-md-block.c-product-preview.js-product-preview-page
													.c-product-info__labels
														.c-product-info__label В наличии
														.c-product-info__label Шоурум
														.c-product-info__label.h-price -10 000
														.c-product-info__label Скидка
														.c-product-info__label 
															| Доставка 
															span.h-price 0
														.c-product-info__label Подарок
													.c-product-preview__main
														.swiper-container.js-product-preview-main#js-product-preview-main
															.swiper-wrapper
																.swiper-slide
																	div(data-src="../img/content/product.jpg").js-product-preview-item
																		img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
																.swiper-slide
																	div(data-src="../img/content/product.jpg").js-product-preview-item
																		img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
																.swiper-slide
																	div(data-src="../img/content/product.jpg").js-product-preview-item
																		img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail

														button.c-product-preview__zoom.js-product-preview-btn

													.c-product-preview__thumbnails
														.swiper-container.js-product-preview-thumbnails
															.swiper-wrapper
																.swiper-slide
																	img(src=require("../img/content/product-thumbnail.jpg"), alt="").c-product-preview__thumbnail
																.swiper-slide
																	img(src=require("../img/content/product-thumbnail2.jpg"), alt="").c-product-preview__thumbnail
																.swiper-slide
																	img(src=require("../img/content/product-thumbnail.jpg"), alt="").c-product-preview__thumbnail
														.swiper-button-next
											.col-12
												.c-product-info__body
													.c-product-info__description.collapse.show#product-info-body
														table.c-table
															tbody
																tr
																	td Бренд:
																	td 
																		a(href="#") Vegas
																tr
																	td Коллекция:
																	td 
																		a(href="#") ZP+ZPV
																tr
																	td Страна:
																	td Россия
																tr
																	td Материал витража:
																	td 
																		a(href="#") Стекло
																tr
																	td Высота поддона:
																	td 
																		a(href="#") Низкий
																tr
																	td Стиль:
																	td 
																		a(href="#") Современный
																tr
																	td Тип дверей:
																	td 
																		a(href="#") Одна раздвижная
																tr
																	td Форма:
																	td 
																		a(href="#") Прямоугольная
																tr
																	td Цвет профиля:
																	td 
																		.dropdown.c-dropdown.c-dropdown_link
																			.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown")
																				.c-dropdown-toggle__link 2 варианта
																			.dropdown-menu.c-dropdown__menu
																				ul
																					li Серый 
																					li Розовый 

																tr
																	td Витраж:
																	td 
																		.dropdown.c-dropdown.c-dropdown_link
																			.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown")
																				.c-dropdown-toggle__link 3 варианта
																			.dropdown-menu.c-dropdown__menu
																				ul
																					li Витраж 1 
																					li Витраж 2
																tr
																	td Размер(ДxШxВ), см:
																	td (108-113)x(68-73)x190
													.d-md-none.c-product-info__collapse-toggle.js-product-info-collapse-toggle
														a(href="#product-info-body" data-toggle="collapse" aria-expanded="true") Свернуть характеристики

								.col-lg-6.col-xl-8
									.row.mb-5
										.col-xl-6
											.c-product__order-info.c-product__order-info_desktop
												.d-flex.flex-column.align-items-center.justify-content-center
													.c-product__code.d-flex.align-items-center.justify-content-center
														span.c-product-info__code-txt.mr-2 Код товара № 
														.c-info
													.c-product__choosen
														| Выбрано:
														a(data-toggle="collapse", aria-expanded="false", href="#order-checkout-products-chosen").c-product__choosen-count.collapsed 0 товара
													.c-product__price
														p.h-text-sm.mb-0 Стоимость
														.c-product__price-number.c-product__price-number_old#c-product__price-number_old 0
														.c-product__price-number.c-product__price-number_new#c-product__price-number_new 0
													.c-product__order-actions.d-flex.flex-column
														a(href="#").c-btn.c-btn_secondary.c-product__order-action В КОРЗИНУ
														a(href="#" data-toggle="modal" data-target="#order-modal").c-btn.c-btn_secondary.c-product__order-action КУПИТЬ В 1 КЛИК


										.col-xl-6
											.c-product__info.ml-xl-2
												.c-product__meta
													img(src=require("../img/icons/box.png"), alt="").mr-3
													p.mb-0
														a(href="#!" data-toggle="modal" data-target="#pickup-modal") Пункт замовывоза 
														| 4 июня, бесплатно
												.c-product__meta
													img(src=require("../img/icons/delivery.png"), alt="").mr-3
													p.mb-0
														| Доставка 5 июня, бесплатно <br>
														a(href="#!" data-toggle="modal" data-target="#fast-delivery-modal") нужно быстрее?
												.c-product__meta
													img(src=require("../img/icons/wallet.png"), alt="").mr-3
													p.mb-0
														| Оплата: наличные, карта, безналичный перевод
												.c-product__meta
													img(src=require("../img/icons/showroom.png"), alt="").mr-3
													p.mb-0
														| Модель бренда есть в шоуруме
												.c-product__meta
													img(src=require("../img/icons/repair.png"), alt="").mr-3
													p.mb-0
														| Установка от 5000
											.c-product__loan.ml-xl-2
												img(src=require("../img/icons/loan.png"), alt="").mr-3
												p.mb-0
													| Оформить онлайн рассрочку от «Покупай <br>
													| со Сбербанком» 
													strong.text-success.h-text-md от 
													strong.h-price.text-success.h-text-md 0
													|  в месяц <br>
													| Первоначальный взнос 
													strong.h-price.text-success.h-text-md 0
													<br>
													| Переплата 
													strong.h-price.text-success.h-text-md 0
									.c-checkout-products.collapse#order-checkout-products-chosen.js-product-order-checkout-static
										.swiper-container.js-checkout-products-fixed
											.swiper-wrapper
												
											.swiper-scrollbar
										.swiper-button-prev
										.swiper-button-next

									.c-table.c-table_product.js-table_product
										.c-table__header ГИДРОМАССАЖ
										form(action="")
											.c-table__body
												.c-table__row.c-product-card.c-product-card_radio(data-articul="23370001")
													input(type="radio" name="product" value="23370001" checked).c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Раковина Cezares Laredo
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 2 290
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 2 290
												.c-table__row.c-product-card.c-product-card_radio(data-articul="23370001")
													input(type="radio" name="product" value="23370002" ).c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Смеситель для кухни Grohe Minta 32168 000
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 1 990
												.c-table__row.c-product-card.c-product-card_radio(data-articul="23370002")
													input(type="radio" name="product" value="23370003" ).c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Душевой угол Cezares MAGIC-R-1-ROYAL PALACE 90x90
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 1 990
												.c-table__row.c-product-card.c-product-card_radio(data-articul="23370003")
													input(type="radio" name="product" value="23370004" ).c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Раковина Cezares Laredo
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 1 990
												.c-table__row.c-product-card.c-product-card_radio(data-articul="23370004")
													input(type="radio" name="product" value="23370005" ).c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Душевой угол Cezares MAGIC-R-1-ROYAL PALACE 90x90
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 1 990
												.c-table__row.c-product-card.c-product-card_radio(data-articul="23370005")
													input(type="radio" name="product" value="23370006" ).c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Раковина Cezares Laredo
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 1 990
											
									.c-table.c-table_product.js-table_product
										.c-table__header ЗЕРКАЛА
										.c-table__body
											.c-table__row.c-product-card.c-product-card_radio(data-articul="23370006")
													input(type="radio" name="product-2" value="23370007" checked).c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Шторка для ванны Cezares Slider-VF-11-100/150 матовая
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 1 990
											.c-table__row.c-product-card.c-product-card_radio(data-articul="23370007")
													input(type="radio" name="product-2" value="23370008").c-product-card__input
													.c-table__cell
														.c-product-card__radio
													.c-table__cell
														.c-product-card__img-wrap.js-product-lightbox
															.c-product-card__sale 15%
															a(href="../img/content/option.jpg").c-product-card__img
																img(src=require("../img/content/option.jpg"), alt="")
													.c-table__cell
														a(href="#!").c-product-card__title Раковина Cezares Laredo
														.c-product-card__subtitle Арт.  23370001
														.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
														.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
													.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
														.c-product-card__price.c-product-card__price_old 2772
														.c-product-card__price.c-product-card__price_new 1 990
									.c-options.js-options.js-table_options
										.c-options__header К этому товару мы рекомендуем выбрать опции:
										.c-table.c-table_options

											.c-table__header ГИДРОМАССАЖ
												a(href="#") Как выбрать ГИДРОМАССАЖ
											form(action="")
												.c-table__body
													.c-table__row.c-product-card.c-product-card_checkbox(data-articul="23370010")
														input(type="checkbox" name="product-checkbox-1" value="23370010" checked).c-product-card__input
														.c-table__cell
															.c-product-card__checkbox
														.c-table__cell
															.c-product-card__img-wrap.js-product-lightbox
																.c-product-card__sale 15%
																a(href="../img/content/option.jpg").c-product-card__img
																	img(src=require("../img/content/option.jpg"), alt="")
														.c-table__cell
															a(href="#!").c-product-card__title Душевой угол Cezares MAGIC-R-1-ROYAL PALACE 90x90
															.c-product-card__subtitle Арт.  23370001
															.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
																.c-product-card__price.c-product-card__price_old 2772
																.c-product-card__price.c-product-card__price_new 1 990
															.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
														.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
													.c-table__row.c-product-card.c-product-card_checkbox(data-articul="23370011")
														input(type="checkbox" name="product-checkbox-2" value="23370011" checked).c-product-card__input
														.c-table__cell
															.c-product-card__checkbox
														.c-table__cell
															.c-product-card__img-wrap.js-product-lightbox
																.c-product-card__sale 15%
																a(href="../img/content/option.jpg").c-product-card__img
																	img(src=require("../img/content/option.jpg"), alt="")
														.c-table__cell
															a(href="#!").c-product-card__title Душевой угол Cezares MAGIC-R-1-ROYAL PALACE 90x90
															.c-product-card__subtitle Арт.  23370001
															.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
																.c-product-card__price.c-product-card__price_old 2772
																.c-product-card__price.c-product-card__price_new 1 990
															.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
														.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990
													.c-table__row.c-product-card.c-product-card_checkbox(data-articul="23370012")
														input(type="checkbox" name="product-checkbox-3" value="23370012" ).c-product-card__input
														.c-table__cell
															.c-product-card__checkbox
														.c-table__cell
															.c-product-card__img-wrap.js-product-lightbox
																.c-product-card__sale 15%
																a(href="../img/content/option.jpg").c-product-card__img
																	img(src=require("../img/content/option.jpg"), alt="")
														.c-table__cell
															a(href="#!").c-product-card__title Душевой угол Cezares MAGIC-R-1-ROYAL PALACE 90x90
															.c-product-card__subtitle Арт.  23370001
															.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
																.c-product-card__price.c-product-card__price_old 2772
																.c-product-card__price.c-product-card__price_new 1 990
															.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
														.c-table__cell.d-none.d-md-flex.align-items-end.flex-column
															.c-product-card__price.c-product-card__price_old 2772
															.c-product-card__price.c-product-card__price_new 1 990

									.c-share
										img(src=require("../img/content/installment.jpg"), alt="")
									.c-product-description
										.c-product-description__title Описание товара
										.c-product-description__body.c-read-more.js-read-more-container
											p Смеситель для раковины Bauloop 23337 000 от немецкой компании GROHE.
											h5 Особенности:
											p
												.
													монтаж на 1 отверстие без донного клапана и без цепочки  высота до излива 87 мм,  вынос 90 мм  однорычажный  гибкая подводка с накидной гайкой 3/8  керамический картридж 28 мм  аэратор система быстрого монтажа 
											h5 Уход:
											p
												.
													При очистке не применяйте абразивные чистящие средства, оставляющие царапины губки, чистящие средства с содержанием кислот или растворителей, средства для удаления извести, пищевой уксус и чистящие средства с содержанием уксусной кислоты.
											p
												.
													При очистке не применяйте абразивные чистящие средства, оставляющие царапины губки, чистящие средства с содержанием кислот или растворителей, средства для удаления извести, пищевой уксус и чистящие средства с содержанием уксусной кислоты.
											p
												.
													При очистке не применяйте абразивные чистящие средства, оставляющие царапины губки, чистящие средства с содержанием кислот или растворителей, средства для удаления извести, пищевой уксус и чистящие средства с содержанием уксусной кислоты.
											p
												.
													При очистке не применяйте абразивные чистящие средства, оставляющие царапины губки, чистящие средства с содержанием кислот или растворителей, средства для удаления извести, пищевой уксус и чистящие средства с содержанием уксусной кислоты.
											h5 Гарантия:  5 лет.
										.d-flex.justify-content-center.mb-3
											a(href="#").js-read-more-btn Читать полностью
									.c-reviews
										.c-reviews__header
											h4.c-reviews__headline Отзывы
										.c-review
											img(src=require("../img/icons/user-placeholder.png"), alt="").c-review__avatar
											.c-review__content
												.c-review__header
													.d-block
														h6.c-review__user Олег Васильев
														span.c-review__meta.text-muted Санкт-Петербург 20 апреля 2019
													.c-review__rating
														.c-rating
															svg.c-rating__item
																use(href="#icon-star")
															svg.c-rating__item
																use(href="#icon-star")
															svg.c-rating__item
																use(href="#icon-star")
															svg.c-rating__item
																use(href="#icon-star")
															svg.c-rating__item
																use(href="#icon-star")
												.c-review__text
													p Монтаж на 1 отверстие без донного клапана и без цепочки  высота до излива 87 мм,  вынос 90 мм  однорычажный  гибкая подводка с накидной гайкой 3/8  керамический картридж 28 мм  аэратор система быстрого монтажа
													b Достоинства
													p Высота до излива 87 мм,  вынос 90 мм  однорычажный  гибкая подводка с накидной гайкой 3/8  керамический картридж 28 мм  аэратор система быстрого монтажа 
													b Недостатки
													p Нет

									.c-watch-earlier.js-watch-earlier
										.c-watch-earlier__header Вы смотрели ранее
											a(href="#").c-watch-earlier__header-link смотреть все
										.c-checkout-products
											.swiper-container.js-watch-earlier-slider 
												.swiper-wrapper
													.swiper-slide.c-checkout-product
														.c-checkout-product__img
															img(src=require("../img/content/option6.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
														a(href="#").c-checkout-product__link к сравнению
													.swiper-slide.c-checkout-product
														.c-checkout-product__img
															img(src=require("../img/content/option7.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
														a(href="#").c-checkout-product__link к сравнению
													.swiper-slide.c-checkout-product
														.c-checkout-product__img
															img(src=require("../img/content/option8.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
														a(href="#").c-checkout-product__link к сравнению
													.swiper-slide.c-checkout-product
														.c-checkout-product__img
															img(src=require("../img/content/option9.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
														a(href="#").c-checkout-product__link к сравнению
													.swiper-slide.c-checkout-product
														.c-checkout-product__img
															img(src=require("../img/content/option6.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
														a(href="#").c-checkout-product__link к сравнению
													.swiper-slide.c-checkout-product
														.c-checkout-product__img
															img(src=require("../img/content/option6.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
														a(href="#").c-checkout-product__link к сравнению
													.swiper-slide.c-checkout-product
														.c-checkout-product__img
															img(src=require("../img/content/option7.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
														a(href="#").c-checkout-product__link к сравнению
												.swiper-pagination
											.swiper-button-prev
											.swiper-button-next
				include templates/footer.pug
		.modal.fade.c-modal#pickup-modal(aria-hidden="true").c-modal_map
			.modal-dialog.modal-dialog-centered.c-modal__dialog
				.modal-content.c-modal__content
					.modal-header.c-modal__header
						button(data-dismiss="modal" aria-label="Close").close
					.modal-body.c-modal__body
						.row
							.col-md-8
								<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2d83b20ffab53983a879aa5e747ccb35c97b85a0d0f19c104ff479d439f485eb&amp;width=100%25&amp;height=463&amp;lang=ru_RU&amp;scroll=false"></script>
							.col-md-4.d-flex.align-items-center.pl-5
								.d-block.pb-4.pt-4.pb-md-0.pt-md-0
									h4.mb-5.pb-3 Пункт самовывоза
									.mb-4.pb-2
										b.d-block.mb-2 Адрес склада:
										p.mb-0 43й км МКАД, 1а, ворота 5
									.d-block
										b.d-block.b.mb-1.pb-1 Время работы:
										.d-flex.mb-2.pb-1
											each day in [1,2,3,4,5,6]
												.c-day-block.flex-shrink-0
											-;
											.c-day-block_holiday
										.d-flex.align-items-center
											.c-day-block.flex-shrink-0.mr-2
											span.text-success 9:00 - 18:00
										.d-flex.align-items-center
											.c-day-block.c-day-block_holiday.flex-shrink-0.mr-2
											span.text-danger выходной


		.modal.fade.c-modal#fast-delivery-modal(aria-hidden="true").c-modal_form
			.modal-dialog.modal-dialog-centered.c-modal__dialog
				.modal-content.c-modal__content
					.modal-header.c-modal__header
						.modal-title.c-modal__title Ускорить доставку
						button(data-dismiss="modal" aria-label="Close").close
					.modal-body.c-modal__body
						p.mb-4.text-center Укажите желаемую дату доставки <br> и мы свяжемся с Вами
						form.c-form.c-form_modal
							input(type="text" placeholder="Укажите желаемую дату").form-control.c-form__field.js-date-field
							input(type="tel").form-control.c-form__field.js-phone-field.mb-4
							.d-flex.justify-content-center
								button.c-btn.c-btn_secondary.c-form__btn.mt-0 жду звонка
		.modal.fade.c-modal#order-modal(aria-hidden="true").c-modal_form
			.modal-dialog.modal-dialog-centered.c-modal__dialog
				.modal-content.c-modal__content
					.modal-header.c-modal__header
						.modal-title.c-modal__title Оформление заказа
						button(data-dismiss="modal" aria-label="Close").close
					.modal-body.c-modal__body
						p.mb-4.text-center Укажите желаемую дату доставки <br> и мы свяжемся с Вами
						form.c-form.c-form_modal
							input(type="tel" placeholder="Ваш телефон").form-control.c-form__field.js-phone-field.mb-4
							input(type="text" placeholder="ФИО").form-control.c-form__field
							input(type="email" placeholder="E-mail").form-control.c-form__field.mb-4
							.d-flex.justify-content-center
								button.c-btn.c-btn_secondary.c-form__btn.mt-0 жду звонка

		.modal.fade.show.c-modal#preview-product-modal.c-preview-product(aria-hidden="true")
			.modal-dialog.modal-dialog-centered.c-modal__dialog
				.modal-content.c-modal__content
					.modal-header.c-modal__header
						.modal-title.c-modal__title
						button(data-dismiss="modal" aria-label="Close").close
					.modal-body.c-modal__body
						.row
							.col-md-6.col-lg-4
								.c-product-preview.js-product-preview-modal
									.c-product-preview__main
										.swiper-container.js-product-preview-main#js-product-preview-main
											.swiper-wrapper
												.swiper-slide
													div(data-src="../img/content/product.jpg").js-product-preview-item
														img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
												.swiper-slide
													div(data-src="../img/content/product.jpg").js-product-preview-item
														img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
												.swiper-slide
													div(data-src="../img/content/product.jpg").js-product-preview-item
														img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail

										button.c-product-preview__zoom.js-product-preview-btn

									.c-product-preview__thumbnails
										.swiper-container.js-product-preview-thumbnails
											.swiper-wrapper
												.swiper-slide
													img(src=require("../img/content/product-thumbnail.jpg"), alt="").c-product-preview__thumbnail
												.swiper-slide
													img(src=require("../img/content/product-thumbnail2.jpg"), alt="").c-product-preview__thumbnail
												.swiper-slide
													img(src=require("../img/content/product-thumbnail.jpg"), alt="").c-product-preview__thumbnail
										.swiper-button-next
							.col-md-6.col-lg-5
								.c-product-info__description
											table.c-table
												tbody
													tr
														td Бренд:
														td 
															a(href="#") Vegas
													tr
														td Коллекция:
														td 
															a(href="#") ZP+ZPV
													tr
														td Страна:
														td Россия
													tr
														td Материал витража:
														td 
															a(href="#") Стекло
													tr
														td Высота поддона:
														td 
															a(href="#") Низкий
													tr
														td Стиль:
														td 
															a(href="#") Современный
													tr
														td Тип дверей:
														td 
															a(href="#") Одна раздвижная
													tr
														td Форма:
														td 
															a(href="#") Прямоугольная
													tr
														td Цвет профиля:
														td 
															.dropdown.c-dropdown.c-dropdown_link
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown")
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li Серый 
																		li Розовый 

													tr
														td Витраж:
														td 
															.dropdown.c-dropdown.c-dropdown_link
																.dropdown-toggle.c-dropdown-toggle(data-toggle="dropdown")
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu.c-dropdown__menu
																	ul
																		li Серый 
																		li Розовый 
													tr
														td Размер(ДxШxВ), см:
														td (108-113)x(68-73)x190
							.col-lg-3
								.c-preview-product__description
									h4.c-preview-product__description-title Описание товара
									.c-preview-product__description-body.c-read-more.js-read-more-container
										p Смеситель для раковины Bauloop 23337 000 от немецкой компании GROHE.
										h5 Особенности:
										p
											.
												монтаж на 1 отверстие без донного клапана и без цепочки  высота до излива 87 мм,  вынос 90 мм  однорычажный  гибкая подводка с накидной гайкой 3/8  керамический картридж 28 мм  аэратор система быстрого монтажа 
										h5 Уход:
										p
											.
												При очистке не применяйте абразивные чистящие средства, оставляющие царапины губки, чистящие средства с содержанием кислот или растворителей, средства для удаления извести, пищевой уксус и чистящие средства с содержанием уксусной кислоты.
										h5 Гарантия:  5 лет.
									a(href="#").c-preview-product__read-more.js-read-more-btn Читать полностью