<!DOCTYPE html>
html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.c-breadcrumbs
						a(href="#!").c-breadcrumbs__item Главная
						a(href="#!").c-breadcrumbs__item Смесители
						a(href="#!").c-breadcrumbs__item смесители для раковины
					.c-product
						.c-product__header.d-flex.justify-content-between.align-items-center
							h1.c-product__title Смеситель для раковины Grohe Bauloop 23337 000
							.c-product__actionsd.d-flex.align-items-center
								a(href="#!").c-product__action
									img(src=require("../img/icons/share.svg"), alt="").c-product__action-icon
									span поделиться
								a(href="#!").c-product__action
									img(src=require("../img/icons/print.png"), alt="").c-product__action-icon
									span версия для печати
						.c-product__body
							.row
								.col-md-4
									.c-product-info
										.c-product-preview
											.c-product-preview__main
												.swiper-container.js-product-preview-main#js-product-preview-main
													.swiper-wrapper
														.swiper-slide
															div(data-src="../img/content/product.jpg").js-product-preview-item
																img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
														.swiper-slide
															div(data-src="../img/content/product.jpg").js-product-preview-item
																img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail
														.swiper-slide
															div(data-src="../img/content/product.jpg").js-product-preview-item
																img(src=require("../img/content/product.jpg"), alt="").c-product-preview__thumbnail

												button.c-product-preview__zoom.js-product-preview-btn

											.c-product-preview__thumbnails
												.swiper-container.js-product-preview-thumbnails
													.swiper-wrapper
														.swiper-slide
															img(src=require("../img/content/product-thumbnail.jpg"), alt="").c-product-preview__thumbnail
														.swiper-slide
															img(src=require("../img/content/product-thumbnail2.jpg"), alt="").c-product-preview__thumbnail
														.swiper-slide
															img(src=require("../img/content/product-thumbnail.jpg"), alt="").c-product-preview__thumbnail
												.swiper-button-next
										.c-product-info__code Код товара:  B22528
										.c-product-info__showroom Модель бренда есть в шоуруме
											.c-product-info__showroom-text
												h4.c-product-info__showroom-text-title
												h5 Можно посмотреть:
												p text
												a(href="#") Схема проезда
												a(href="#") Адреса всех шоурумов
												.c-product-info__showroom-close
										.c-product-info__description
											table.c-table
												tbody
													tr
														td Бренд:
														td 
															a(href="#") Vegas
													tr
														td Коллекция:
														td 
															a(href="#") ZP+ZPV
													tr
														td Страна:
														td Россия
													tr
														td Материал витража:
														td 
															a(href="#") Стекло
													tr
														td Высота поддона:
														td 
															a(href="#") Низкий
													tr
														td Стиль:
														td 
															a(href="#") Современный
													tr
														td Тип дверей:
														td 
															a(href="#") Одна раздвижная
													tr
														td Форма:
														td 
															a(href="#") Прямоугольная
													tr
														td Цвет профиля:
														td 
															.dropdown.c-dropdown
																.dropdown-toggle.c-dropdown-toggle
																	.c-dropdown-toggle__link 2 варианта
																.dropdown-menu as

													tr
														td Витраж:
														td 
															.dropdown.c-dropdown
																.dropdown-toggle.c-dropdown-toggle
																	.c-dropdown-toggle__link 3 варианта
																.dropdown-menu as
													tr
														td Размер(ДxШxВ), см:
														td (108-113)x(68-73)x190
										.c-product-info__actions

											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/fav.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text поместить В закладкИ
											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/repair.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text установка от 5000
											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/vesi2.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text добавить к сравнениЮ
											a(href="#").c-product-info__action
												.c-product-info__action-inner
													.c-product-info__action-icon-wrap
														img(src=require("../img/icons/fast.png"), alt="").c-product-info__action-icon 
													span.c-product-info__action-text оформить кредит online
								.col-md-8
									.c-product__order-info
										.d-flex.align-items-center.justify-content-between.mb-3
											.c-product__choosen
												| Выбрано:
												a(href="#").c-product__choosen-count 3 товара
											.c-product__price
												| Итого:
												.c-product__price-number.c-product__price-number_old 34900
												.c-product__price-number.c-product__price-number_new 28 650
											.c-product__order-actions.d-flex
												a(href="#").c-btn.c-btn_primary В КОРЗИНУ
												a(href="#").c-btn.c-btn_primary КУПИТЬ В 1 КЛИК
										.d-flex.justify-content-between
											.c-promocode
												.c-promocode__txt
													.
														При заказе сообщите менеджеру промокод 
												.c-promocode__label CEZARES10
											.c-counter
												.c-counter__timer
													.c-progress-radial
														.c-progress-radial__left
															.c-progress-radial__bar(style="transform:rotate(180deg)")
														.c-progress-radial__right
															.c-progress-radial__bar(style="transform:rotate(180deg)")
														.c-progress-radial__value 5
														.c-progress-radial__footer дней
													.c-progress-radial
														.c-progress-radial__left
															.c-progress-radial__bar(style="transform:rotate(-135deg)")
														.c-progress-radial__right
															.c-progress-radial__bar
														.c-progress-radial__value 16
														.c-progress-radial__footer часов
													.c-progress-radial
														.c-progress-radial__left
															.c-progress-radial__bar(style="transform:rotate(-180deg)")
														.c-progress-radial__right
															.c-progress-radial__bar(style="transform:rotate(-150deg)")
														.c-progress-radial__value 59
														.c-progress-radial__footer минут
												.c-counter__txt осталось до конца акции
									.c-table.c-table_product
										.c-table__header ГИДРОМАССАЖ
										.c-table__body
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														.c-product-card__sale 15%
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price.c-product-card__price_old 2772
													.c-product-card__price.c-product-card__price_new 1 990
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														.c-product-card__sale 15%
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price.c-product-card__price_old 2772
													.c-product-card__price.c-product-card__price_new 1 990
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														.c-product-card__sale 15%
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price.c-product-card__price_old 2772
													.c-product-card__price.c-product-card__price_new 1 990
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														.c-product-card__sale 15%
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price.c-product-card__price_old 2772
													.c-product-card__price.c-product-card__price_new 1 990
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														.c-product-card__sale 15%
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price.c-product-card__price_old 2772
													.c-product-card__price.c-product-card__price_new 1 990
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
										a(href="#").c-table__notification К этому товару мы рекомендуем выбрать опции
											img(src=require("../img/icons/arrow.png"), alt="").c-table__notification-icon
									.c-table.c-table_product
										.c-table__header Зеркала
										.c-table__body
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
									.c-table.c-table_options
										.c-table__header ГИДРОМАССАЖ
											a(href="#") Как выбрать ГИДРОМАССАЖ
										.c-table__body
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
											.c-table__row.c-product-card
												.c-table__cell
													.c-product-card__img-wrap
														img(src=require("../img/content/option.jpg"), alt="").c-product-card__img
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
													.c-product-card__size Размер (ДxШxВ), см: (108-113) x (68-73) x 190
												.c-table__cell
													.c-product-card__price 13 400
												.c-table__cell
													a(href="#").c-btn.c-btn_primary.c-product-card__btn выбрать
									.c-product__order-checkout.c-product__order-checkout_fixed.js-product-order-checkout-fixed
										.c-product__order-checkout-top
											.d-flex.align-items-center.justify-content-between.w-100
												.c-product__choosen
													| Выбрано:
													a(href="#").c-product__choosen-count 3 товара
												.c-product__price
													| Стоимость:
													.c-product__price-number 28 650
												.c-product__order-actions.d-flex
													a(href="#").c-btn.c-btn_secondary В КОРЗИНУ
													a(href="#").c-btn.c-btn_secondary КУПИТЬ В 1 КЛИК
									.c-product__order-checkout.js-product-order-checkout-static
										.c-product__order-checkout-top.collapsed(data-toggle="collapse", aria-expanded="false", href="#order-checkout-products")
											.d-flex.align-items-center.justify-content-between.w-100
												.c-product__choosen
													| Выбрано:
													a(href="#").c-product__choosen-count 3 товара
												.c-product__price
													| Стоимость:
													.c-product__price-number 28 650
												.c-product__order-actions.d-flex
													a(href="#").c-btn.c-btn_secondary В КОРЗИНУ
													a(href="#").c-btn.c-btn_secondary КУПИТЬ В 1 КЛИК
										.c-checkout-products.collapse#order-checkout-products
											.swiper-container.js-checkout-products
												.swiper-wrapper
													.swiper-slide.c-checkout-product
														a(href="#!").c-checkout-product__remove
														.c-checkout-product__img
															img(src=require("../img/content/option2.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
													.swiper-slide.c-checkout-product
														a(href="#!").c-checkout-product__remove
														.c-checkout-product__img
															img(src=require("../img/content/option3.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
													.swiper-slide.c-checkout-product
														a(href="#!").c-checkout-product__remove
														.c-checkout-product__img
															img(src=require("../img/content/option4.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
													.swiper-slide.c-checkout-product
														a(href="#!").c-checkout-product__remove
														.c-checkout-product__img
															img(src=require("../img/content/option5.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
													.swiper-slide.c-checkout-product
														a(href="#!").c-checkout-product__remove
														.c-checkout-product__img
															img(src=require("../img/content/option6.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
													.swiper-slide.c-checkout-product
														a(href="#!").c-checkout-product__remove
														.c-checkout-product__img
															img(src=require("../img/content/option.jpg"), alt="")
														.c-checkout-product__title
															.
																Смеситель для 
																раковины BelBagno
																ADIGEADI -LVM25-CRM
														.c-checkout-product__price 3 400
												.swiper-scrollbar
											.swiper-button-prev
											.swiper-button-next
									.c-product-description
										.c-product-description__title Описание товара
										.c-product-description__body
											p Смеситель для раковины Bauloop 23337 000 от немецкой компании GROHE.
											h5 Особенности:
											p
												.
													монтаж на 1 отверстие без донного клапана и без цепочки  высота до излива 87 мм,  вынос 90 мм  однорычажный  гибкая подводка с накидной гайкой 3/8  керамический картридж 28 мм  аэратор система быстрого монтажа 
											h5 Уход:
											p
												.
													При очистке не применяйте абразивные чистящие средства, оставляющие царапины губки, чистящие средства с содержанием кислот или растворителей, средства для удаления извести, пищевой уксус и чистящие средства с содержанием уксусной кислоты.
											h5 Гарантия:  5 лет.
											

				include templates/footer.pug
			