html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.o-page__container
						.o-page__sidebar
							.c-catalog-menu.d-none.d-md-block
								include templates/catalog-menu.pug
						.o-page__body
							.swiper-container.js-main-banner-slider.c-main-banner
								.swiper-wrapper
									.swiper-slide
										img.main-banner-image(src=require("../img/content/main-banner-image.jpg"), alt="")
									.swiper-slide
										img.main-banner-image(src=require("../img/content/main-banner-image.jpg"), alt="")
									.swiper-slide
										img.main-banner-image(src=require("../img/content/main-banner-image.jpg"), alt="")
								.swiper-pagination
							.c-main-shares.d-none.d-md-block
								.swiper-container.js-main-shares-slider
									.swiper-wrapper
										.swiper-slide
											.c-main-share
												.c-main-share__count 10%
												.c-main-share__info
													h4.c-main-share__title Счастливые выходные - 10% на всё!
													p.c-main-share__txt
														.
															6 и 7 октября скидка 10% 
															на все! Выбирайте, звоните, покупайте!

										.swiper-slide
											.c-main-share
												.c-main-share__count 10%
												.c-main-share__info
													h4.c-main-share__title Счастливые выходные - 10% на всё!
													p.c-main-share__txt
														.
															6 и 7 октября скидка 10% 
															на все! Выбирайте, звоните, покупайте!
										.swiper-slide
											.c-main-share
												.c-main-share__count 15%
												.c-main-share__info
													h4.c-main-share__title Счастливые выходные - 10% на всё!
													p.c-main-share__txt
														.
															6 и 7 октября скидка 10% 
															на все! Выбирайте, звоните, покупайте!
										.swiper-slide
											.c-main-share
												.c-main-share__count 15%
												.c-main-share__info
													h4.c-main-share__title Счастливые выходные - 10% на всё!
													p.c-main-share__txt
														.
															6 и 7 октября скидка 10% 
															на все! Выбирайте, звоните, покупайте!
								.swiper-button-prev
								.swiper-button-next
							.c-main-shares.c-main-shares_mobile.d-md-none
								.c-main-share
									.c-main-share__count 10%
									.c-main-share__info
										h4.c-main-share__title Счастливые выходные - 10% на всё!
										p.c-main-share__txt
											.
												6 и 7 октября скидка 10% 
												на все! Выбирайте, звоните, покупайте!
								.c-main-share
									.c-main-share__count 10%
									.c-main-share__info
										h4.c-main-share__title Счастливые выходные - 10% на всё!
										p.c-main-share__txt
											.
												6 и 7 октября скидка 10% 
												на все! Выбирайте, звоните, покупайте!
								.c-main-share
									.c-main-share__count 10%
									.c-main-share__info
										h4.c-main-share__title Счастливые выходные - 10% на всё!
										p.c-main-share__txt
											.
												6 и 7 октября скидка 10% 
												на все! Выбирайте, звоните, покупайте!
							.c-main-categories
								.c-main-categories__item
									.c-main-categories__info(style="background-image: url('img/content/adjustable-image5.jpg')")
										.c-main-categories__title Ванны
									.c-main-categories__body
										.row
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
								.c-main-categories__item
									.c-main-categories__info(style="background-image: url('img/content/adjustable-image5.jpg')")
										.c-main-categories__title Ванны
									.c-main-categories__body
										.row
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
								.c-main-categories__item
									.c-main-categories__info(style="background-image: url('img/content/adjustable-image5.jpg')")
										.c-main-categories__title Ванны
									.c-main-categories__body
										.row
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
											.col-6.col-md-4
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
												.c-main-categories__link
													a(href="#") Акриловые ванны
								.d-flex.justify-content-center.align-items-center
									a(href="#").font-italic Посмотреть все категории
							.c-checkout-products.c-sale-day
								.c-sale-day__header
									h4.c-sale-day__title Скидка выходного дня
									.c-counter
										.c-counter__txt.h-text-black.ml-0.mr-3 до конца акции
										.c-counter__timer
											.c-progress-radial.c-progress-radial_horizontal
												div
													.c-progress-radial__left
														.c-progress-radial__bar(style="transform:rotate(-135deg)")
													.c-progress-radial__right
														.c-progress-radial__bar
													.c-progress-radial__value 16
												.c-progress-radial__footer часов
											.c-progress-radial.c-progress-radial_horizontal
												div
													.c-progress-radial__left
														.c-progress-radial__bar(style="transform:rotate(-180deg)")
													.c-progress-radial__right
														.c-progress-radial__bar(style="transform:rotate(-150deg)")
													.c-progress-radial__value 59
												.c-progress-radial__footer минут
								.swiper-container.js-sale-day-slider 
									.swiper-wrapper
										.swiper-slide.c-checkout-product.c-sale-day__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины BelBagno
											.c-checkout-product__price.c-sale-day__price.c-sale-day__price_old 3 400
											.c-checkout-product__pricec-sale-day__price.c-sale-day__price_new 3 400
										.swiper-slide.c-checkout-product.c-sale-day__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price.c-sale-day__price.c-sale-day__price_old 3 400
											.c-checkout-product__pricec-sale-day__price.c-sale-day__price_new 3 400
										.swiper-slide.c-checkout-product.c-sale-day__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price.c-sale-day__price.c-sale-day__price_old 3 400
											.c-checkout-product__pricec-sale-day__price.c-sale-day__price_new 3 400
										.swiper-slide.c-checkout-product.c-sale-day__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price.c-sale-day__price.c-sale-day__price_old 3 400
											.c-checkout-product__pricec-sale-day__price.c-sale-day__price_new 3 400
										.swiper-slide.c-checkout-product.c-sale-day__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price.c-sale-day__price.c-sale-day__price_old 3 400
											.c-checkout-product__pricec-sale-day__price.c-sale-day__price_new 3 400
										.swiper-slide.c-checkout-product.c-sale-day__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price.c-sale-day__price.c-sale-day__price_old 3 400
											.c-checkout-product__pricec-sale-day__price.c-sale-day__price_new 3 400
										.swiper-slide.c-checkout-product.c-sale-day__product
											.c-checkout-product__img
												img(src=require("../img/content/option7.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины BelBagno
											.c-checkout-product__price.c-sale-day__price.c-sale-day__price_old 3 400
											.c-checkout-product__pricec-sale-day__price.c-sale-day__price_new 3 400
								.swiper-pagination.d-md-none
								.swiper-button-prev
								.swiper-button-next
							.c-checkout-products.c-top-product
								.c-top-product__header
									h4.c-top-product__title Ванны
								.swiper-container.js-top-product-slider 
									.swiper-wrapper
										.swiper-slide.c-checkout-product.c-top-product__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины BelBagno
											.c-checkout-product__price 3 400
										.swiper-slide.c-checkout-product.c-top-product__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price 3 400
										.swiper-slide.c-checkout-product.c-top-product__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price 3 400
										.swiper-slide.c-checkout-product.c-top-product__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price 3 400
										.swiper-slide.c-checkout-product.c-top-product__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price 3 400
										.swiper-slide.c-checkout-product.c-top-product__product
											.c-checkout-product__img
												img(src=require("../img/content/option6.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины 
											.c-checkout-product__price 3 400
										.swiper-slide.c-checkout-product.c-top-product__product
											.c-checkout-product__img
												img(src=require("../img/content/option7.jpg"), alt="")
											.c-checkout-product__title
												.
													Смеситель для 
													раковины BelBagno
											.c-checkout-product__price 3 400
								.swiper-pagination.d-md-none
								.swiper-button-prev
								.swiper-button-next
							.c-checkout-products.c-our-brands
								.c-our-brands__header
									h4.c-our-brands__title Наши бренды
								.swiper-container.js-our-brands
									.swiper-wrapper.align-items-center
										.swiper-slide.c-checkout-product.c-our-brands__product
											img(src=require("../img/content/brand.jpg"), alt="")
										.swiper-slide.c-checkout-product.c-our-brands__product
											img(src=require("../img/content/brand2.jpg"), alt="")
										.swiper-slide.c-checkout-product.c-our-brands__product
											img(src=require("../img/content/brand3.jpg"), alt="")
											
								.swiper-pagination.d-md-none
								.swiper-button-prev
								.swiper-button-next
				include templates/footer.pug