html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.o-page__container
						.o-page__sidebar
							.c-catalog-menu.d-none.d-md-block
								include templates/catalog-menu.pug
							.c-all-shares
								.c-all-shares__body
									.c-all-shares__title Все товары по акциям
									a(href="#").c-all-shares__link Смотреть
							.c-watch-earlier-widget
								h3.c-watch-earlier-widget__title Вы смотрели ранее:
								.c-watch-earlier-widget__body
									.c-watch-earlier-widget__item
										.c-watch-earlier-widget__img
											img(src=require("../img/content/option.jpg"), alt="")
										.c-watch-earlier-widget__info
											a(href="#") кран верхний Aquanet Palma хром
											.c-watch-earlier-widget__price 180 000

									.c-watch-earlier-widget__item
										.c-watch-earlier-widget__img
											img(src=require("../img/content/option6.jpg"), alt="")
										.c-watch-earlier-widget__info
											a(href="#") кран верхний Aquanet Palma хром
											.c-watch-earlier-widget__price 180 000
									.c-watch-earlier-widget__item
										.c-watch-earlier-widget__img
											img(src=require("../img/content/option7.jpg"), alt="")
										.c-watch-earlier-widget__info
											a(href="#") кран верхний Aquanet Palma хром
											.c-watch-earlier-widget__price 180 000
									.c-watch-earlier-widget__item
										.c-watch-earlier-widget__img
											img(src=require("../img/content/option8.jpg"), alt="")
										.c-watch-earlier-widget__info
											a(href="#") кран верхний Aquanet Palma хром
											.c-watch-earlier-widget__price 180 000
									.c-watch-earlier-widget__item
										.c-watch-earlier-widget__img
											img(src=require("../img/content/option9.jpg"), alt="")
										.c-watch-earlier-widget__info
											a(href="#") кран верхний Aquanet Palma хром
											.c-watch-earlier-widget__price 180 000
									.c-watch-earlier-widget__item
										.c-watch-earlier-widget__img
											img(src=require("../img/content/option3.jpg"), alt="")
										.c-watch-earlier-widget__info
											a(href="#") кран верхний Aquanet Palma хром
											.c-watch-earlier-widget__price 180 000
								a(href="#").c-watch-earlier-widget__link смотреть все
						.o-page__body
							.c-breadcrumbs
								a(href="#!").c-breadcrumbs__item Главная
								a(href="#!").c-breadcrumbs__item Акции
							section.o-section.s-shares
								.o-section__header.flex-column.flex-md-row
									h3.o-section__title.mb-2.mb-md-0 Акции
								.o-section__body.s-shares__body
									-
										var shares = [
											{
												date: '21.06.2018',
												image: require("../img/content/share-image.jpg"),
												title: 'Гидромассажные СПА-ванны со скидкой с 5 по 16 мая',
												description: 'На пике моды в домашней SPA-индустрии (да, есть и такая) – гидромассажные СПА-ванны. Это очень удобно wellness- оборудование – идеальное решение для тех, кто, не выходя из дома, хочет получить расслабляющий сеанс гидромассажа.',
											},
											{
												date: '21.06.2018',
												image: require("../img/content/share-image-2.jpg"),
												title: 'До -15%! Скидка на покупку комплекта сантехники. ',
												description: 'На пике моды в домашней SPA-индустрии (да, есть и такая) – гидромассажные СПА-ванны. Это очень удобно wellness- оборудование – идеальное решение для тех, кто, не выходя из дома, хочет получить расслабляющий сеанс гидромассажа.',
											},
											{
												date: '21.06.2018',
												title: 'Гидромассажные СПА-ванны со скидкой с 5 по 16 мая',
												description: 'На пике моды в домашней SPA-индустрии (да, есть и такая) – гидромассажные СПА-ванны. Это очень удобно wellness- оборудование – идеальное решение для тех, кто, не выходя из дома, хочет получить расслабляющий сеанс гидромассажа.',
											},
											{
												date: '21.06.2018',
												image: require("../img/content/share-image-3.jpg"),
												title: 'До -15%! Скидка на покупку комплекта сантехники. ',
												description: 'На пике моды в домашней SPA-индустрии (да, есть и такая) – гидромассажные СПА-ванны. Это очень удобно wellness- оборудование – идеальное решение для тех, кто, не выходя из дома, хочет получить расслабляющий сеанс гидромассажа.',
											},
										];
									each share in shares
										article.c-article
											.c-article__date
												span.c-article__date-txt=share.date
											if(share.image)
												.c-article__thumbnail
													img(src=share.image, alt="")
											.c-article__title=share.title
											.c-article__description=share.description
											a(href="#").c-article__read-more Читать полностью
								.o-section__footer.s-shares__footer
									.c-posts-showed.d-none.d-md-flex
										.c-posts-showed__title Показать:
										form.c-posts-showed__body
											.c-posts-showed__count.is-active 24
												input(type="radio" name="posts-showed" value="24" checked).c-posts-showed__count-input
											.c-posts-showed__count 48
												input(type="radio" name="posts-showed" value="48").c-posts-showed__count-input
									.c-pagination
										a(href="#").c-pagination__nav.c-pagination__nav_left
										.c-pagination__pages
											a(href="#").c-pagination__page 1
											a(href="#").c-pagination__page.is-active 2
											a(href="#").c-pagination__page 3
											a(href="#").c-pagination__page 4
										a(href="#").c-pagination__nav.c-pagination__nav_right

				include templates/footer.pug