include icons.pug
.modal.fade.c-modal#pickup-modal(aria-hidden="true").c-modal_map
	.modal-dialog.modal-dialog-centered.c-modal__dialog
		.modal-content.c-modal__content
			.modal-header.c-modal__header
				button(data-dismiss="modal" aria-label="Close").close
			.modal-body.c-modal__body
				.row
					.col-md-8
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2d83b20ffab53983a879aa5e747ccb35c97b85a0d0f19c104ff479d439f485eb&amp;width=100%25&amp;height=463&amp;lang=ru_RU&amp;scroll=false"></script>
					.col-md-4.d-flex.align-items-center.pl-xl-5
						.d-block.pb-4.pt-4.pb-md-0.pt-md-0
							h4.mb-3.mb-xl-5.pb-xl-3 Пункт самовывоза
							.mb-xl-4.pb-2
								b.d-block.mb-2 Адрес склада:
								p.mb-0 43й км МКАД, 1а, ворота 5
							.d-block
								b.d-block.b.mb-1.pb-1 Время работы:
								.d-flex.mb-2.pb-1
									each day in [1,2,3,4,5,6]
										.c-day-block.flex-shrink-0
									-;
									.c-day-block_holiday
								.d-flex.align-items-center
									.c-day-block.flex-shrink-0.mr-2
									span.text-success 9:00 - 18:00
								.d-flex.align-items-center
									.c-day-block.c-day-block_holiday.flex-shrink-0.mr-2
									span.text-danger выходной
.modal.fade.c-modal#back-call-modal(aria-hidden="true").c-modal_form
	.modal-dialog.modal-dialog-centered.c-modal__dialog
		.modal-content.c-modal__content
			.modal-header.c-modal__header
				.modal-title.c-modal__title
					h3.text-uppercase.text-secondary.font-weight-bold.mb-0 Всего 15 секунд!
					p.h-text-xl.text-center.mb-0.c-modal__subtitle И наш консультант <br> перезвонит Вам!
				button(data-dismiss="modal" aria-label="Close").close
			.modal-body.c-modal__body
				form.c-form.c-form_modal
					.c-form__item.c-form__item_has-prepend.input-group.d-flex.align-items-start.mb-4
						.input-group-prepend
							img(src=require("../../img/icons/flag-russia.png"), alt="")
						input(type="tel" placeholder="Ваш телефон").form-control.c-form__field.js-phone-field
					.d-flex.align-items-center.justify-content-center.mb-2
						img(src=require("../../img/icons/clock-yellow.png"), alt="").mr-3
						h4.text-secondary.mb-0 00:15.00
					p.text-center.h-text-sm.
						Нажимая на кнопку “жду звонка” 
						вы даете согласие с Политкой обработки 
						персональных данных.
					.d-flex.justify-content-center
						button.c-btn.c-btn_secondary.c-btn_lg.mt-0 жду звонка

.modal.c-modal.c-modal_contact-us.fade#contact-us-modal(aria-hidden="false")
	.modal-dialog.modal-dialog-centered
		.modal-content
			.modal-header
				h5.modal-title Написать нам
				button(type="button" data-dismiss="modal").close
					span(aria-hidden="true") &times;
			.modal-body
				form.c-form
					input(type="text" placeholder="Ваше имя*" required).c-form__field
					input(type="text" placeholder="Ваше телефон*" required).c-form__field
					input(type="text" placeholder="Ваше e-mail*" required).c-form__field
					textarea(name="", cols="30", rows="10" placeholder="Ваш вопрос*" required).c-form__field.c-form__field_textarea
					p *Обязательно для заполнения 
					.c-form__action.c-form__action_attachment
						input(type="file")
						a(href="#") Добавить вложение
			.modal-footer
				button(type="button").c-btn.c-btn_secondary Отправить
.modal.c-modal.c-modal_call.fade#call-modal(aria-hidden="false")
	.modal-dialog.modal-dialog-centered
		.modal-content
			.modal-header
				h5.modal-title Обратный звонок
				button(type="button" data-dismiss="modal").close
					span(aria-hidden="true") &times;
			.modal-body
				form.c-form
					.row
						.col-md-6.mb-3
							.c-form__dropdown
								select
									option сегодня
									option завтра
								
						.col-md-6.mb-3
							.d-flex.align-items-center
								span.mr-2 в
								.c-form__dropdown.w-100
									select
										option 10:00
										option 11:00
										option 12:00
										option 13:00
										option 14:00
										option 15:00
					.c-form__field.c-form__field_phone
						.c-form__field-flag.c-form__field-flag_russia
						input(type="tel" placeholder="+7 (___) ___-__-__").js-phone-field
			.modal-footer
				button(type="button").c-btn.c-btn_secondary Жду звонка
footer.c-footer
	.c-footer__top.d-flex.flex-column.flex-xl-row
		.d-flex.flex-column.flex-md-row
			.d-flex.flex-column.align-items-center.align-items-md-start
				img(src=require("../../img/icons/logo-sanbest.svg"), alt="").c-footer__logo
				.c-footer__copyright ®SanBest, 2020
			
			.d-flex.d-lg-none.flex-wrap.flex-md-nowrap.flex-row.align-items-center.align-md-items-start
				.c-footer__col.w-100
					.c-footer__col_nav
						ul.d-flex.align-items-center.flex-wrap.justify-content-center.d-md-block
							li
								a(href="#") Бренды
							li
								a(href="#") Доставка и оплата
							li
								a(href="#") Акции
							li
								a(href="#") Контакты
							li
								a(href="#") Политика конфиденциальности
				.c-footer__col
					.c-footer__col_contacts.d-flex.flex-row.flex-lg-column.justify-content-center.justify-content-md-between.align-items-center.align-items-md-start
						a(href="tel:74955653588") +7 (495) 565 35 88
						a(href="mailto:sale@sanbest.ru") sale@sanbest.ru
					.c-footer__col_placement.d-flex.flex-column.justify-content-between.align-items-center.align-items-md-start
						p
							.
								Посёлок Заречье, Торговая ул., с2, ТЦ "Элитстройматериалы", 1 этаж, место А-18
								с 10.00 - 20.00 без выходных
						a(href="#map" data-toggle="collapse" aria-expanded="false").c-footer__map-link Показать на карте
					
			.d-none.d-lg-flex
				.c-footer__col.c-footer__col_nav
					ul
						li
							a(href="#") Бренды
						li
							a(href="#") Доставка и оплата
						li
							a(href="#") Акции
						li
							a(href="#") Контакты
				.c-footer__col.c-footer__col_contacts.d-flex.flex-column.justify-content-between
					div
						a(href="tel:74955653588") +7 (495) 565 35 88
						a(href="mailto:sale@sanbest.ru") sale@sanbest.ru
					a(href="#").c-footer__privacy-link Политика конфиденциальности
				.c-footer__col.c-footer__col_placement.d-flex.flex-column.justify-content-between.align-items-start
					p
						.
							Посёлок Заречье, Торговая ул., с2, ТЦ "Элитстройматериалы", 1 этаж, место А-18
							с 10.00 - 20.00 без выходных
					a(href="#map" data-toggle="collapse" aria-expanded="true").c-footer__map-link Показать на карте
		.d-none.d-xl-flex
			.c-footer__col.c-footer__col_cards
				.row
					.col-3.col-xl-6.c-footer__card.text-center.text-md-left
						img(src=require("../../img/content/visa.png"), alt="")
					.col-3.col-xl-6.c-footer__card.text-center.text-md-left
						img(src=require("../../img/content/mastercard.png"), alt="")

					.col-3.col-xl-6.c-footer__card.text-center.text-md-left
						img(src=require("../../img/content/sberbank.png"), alt="")
					.col-3.col-xl-6.c-footer__card.text-center.text-md-left
						img(src=require("../../img/content/mir.png"), alt="")
	.c-footer__map.collapse#map
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2d83b20ffab53983a879aa5e747ccb35c97b85a0d0f19c104ff479d439f485eb&amp;width=100%25&amp;height=463&amp;lang=ru_RU&amp;scroll=false"></script>
	.d-flex.d-xl-none
		.c-footer__col.c-footer__col_cards
			.row
				.col-3.col-xl-6.c-footer__card.text-center.text-md-left
					img(src=require("../../img/content/visa.png"), alt="")
				.col-3.col-xl-6.c-footer__card.text-center.text-md-left
					img(src=require("../../img/content/mastercard.png"), alt="")

				.col-3.col-xl-6.c-footer__card.text-center.text-md-left
					img(src=require("../../img/content/sberbank.png"), alt="")
				.col-3.col-xl-6.c-footer__card.text-center.text-md-left
					img(src=require("../../img/content/mir.png"), alt="")
	.c-footer__bottom

		p
			.
				Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2) ГК Российской федерации