.c-navbar.c-navbar-unscrolled
	a(href="#").c-navbar__catalog-btn каталог
	.c-navbar__item.mr-auto.mr-xl-0
		a(href="#").c-navbar__link личный кабинет 
		span : User ID: 2
	.c-navbar__item.mr-xl-auto
		| Ваш город:
		a(href="#").c-navbar__link  Санкт-Петербург
	.c-navbar__item.c-navbar__item_cart
		div(data-toggle="dropdown", aria-expanded="false" data-flip="false" data-boundary="viewport").c-navbar__btn.js-navbar-btn.dropdown-toggle
			img(src=require("../../img/icons/basket.svg"), alt="").c-navbar__btn-icon
			span.c-navbar__txt.flex-shrink-0 В корзине 
			span.c-navbar__counter 3
			span.c-navbar__txt шт.
			.dropdown-menu.dropdown-menu-right
				.dropdown-menu__body
					.c-navbar-product
						.c-navbar-product__img
							img(src=require("../../img/content/option8.jpg"), alt="")
						.c-navbar-product__body
							a(href="#").c-navbar-product__title Смеситель для раковины Belbagno Clima 80
							.c-navbar-product__footer
								.c-navbar-product__price 8650
								.c-navbar-product__count x 2
						a(href="#").c-navbar-product__close.js-navbar-product-remove
							svg
								use(href="#icon-close")
					.c-navbar-product
						.c-navbar-product__img
							img(src=require("../../img/content/option8.jpg"), alt="")
						.c-navbar-product__body
							a(href="#").c-navbar-product__title Смеситель для раковины Belbagno Clima 80
							.c-navbar-product__footer
								.c-navbar-product__price 8650
								.c-navbar-product__count x 2
						a(href="#").c-navbar-product__close.js-navbar-product-remove
							svg
								use(href="#icon-close")
					.c-navbar-product
						.c-navbar-product__img
							img(src=require("../../img/content/option8.jpg"), alt="")
						.c-navbar-product__body
							a(href="#").c-navbar-product__title Смеситель для раковины Belbagno Clima 80
							.c-navbar-product__footer
								.c-navbar-product__price 8650
								.c-navbar-product__count x 2
						a(href="#").c-navbar-product__close.js-navbar-product-remove
							svg
								use(href="#icon-close")
				.dropdown-menu__footer.d-flex.align-items-center.justify-content-between
					.d-flex.align-items-baseline Итого:
						h4.h-price.ml-2.mb-0 42 233
					a.c-btn.c-btn_secondary(href="#") перейти в корзину
//- .c-navbar-wrap.c-navbar-scrolled
//- 	.container
//- 		.c-navbar
//- 			a(href="/").h-no-link
//- 				img(src=require("../../img/icons/logo.svg"), alt="").c-navbar__logo
//- 			.c-navbar__item-phone +7 (495) 565 35 88
//- 			a(href="#" data-toggle="modal" data-target="#call-modal").c-navbar__item-call.mr-auto бесплатный звонок
//- 			.c-navbar__item.c-navbar__item_cart
//- 				div( data-toggle="dropdown", aria-expanded="false").c-navbar__btn.js-navbar-btn.dropdown-toggle
//- 					img(src=require("../../img/icons/basket.svg"), alt="").c-navbar__btn-icon
//- 					span.c-navbar__txt В корзине 
//- 					span.c-navbar__counter 3
//- 					span.c-navbar__txt шт.
//- 					.dropdown-menu
//- 						.dropdown-menu__body
//- 							.c-navbar-product
//- 								.c-navbar-product__img
//- 									img(src=require("../../img/content/option8.jpg"), alt="")
//- 								.c-navbar-product__body
//- 									a(href="#").c-navbar-product__title Смеситель для раковины Belbagno Clima 80
//- 									.c-navbar-product__footer
//- 										.c-navbar-product__price 8650
//- 										.c-navbar-product__count x 2
//- 								a(href="#").c-navbar-product__close.js-navbar-product-remove
//- 									svg
//- 										use(href="#icon-close")
//- 							.c-navbar-product
//- 								.c-navbar-product__img
//- 									img(src=require("../../img/content/option8.jpg"), alt="")
//- 								.c-navbar-product__body
//- 									a(href="#").c-navbar-product__title Смеситель для раковины Belbagno Clima 80
//- 									.c-navbar-product__footer
//- 										.c-navbar-product__price 8650
//- 										.c-navbar-product__count x 2
//- 								a(href="#").c-navbar-product__close.js-navbar-product-remove
//- 									svg
//- 										use(href="#icon-close")
//- 							.c-navbar-product
//- 								.c-navbar-product__img
//- 									img(src=require("../../img/content/option8.jpg"), alt="")
//- 								.c-navbar-product__body
//- 									a(href="#").c-navbar-product__title Смеситель для раковины Belbagno Clima 80
//- 									.c-navbar-product__footer
//- 										.c-navbar-product__price 8650
//- 										.c-navbar-product__count x 2
//- 								a(href="#").c-navbar-product__close.js-navbar-product-remove
//- 									svg
//- 										use(href="#icon-close")
//- 						.dropdown-menu__footer.d-flex.align-items-center.justify-content-between
//- 							.d-flex.align-items-center Итого:
//- 								h4.h-price.ml-2 42 233
//- 							a.c-btn.c-btn_secondary(href="#") перейти в корзину